/**
* CSS
* 
*made by meirisoda
*/
* {
	margin: 0;
	padding: 0;
}

body {
	zoom: 100%; 
    font-size: 12px;
	font-family: Verdana, sans-serif;
    background-image: url("https://i.imgur.com/cewuXWI.png");
    background-repeat: repeat;
	background-color: #fff;
}

table.myFormat tr td {font-size: 12px;
	font-family: Verdana, sans-serif;
	background: #fff; }

    table {font-size: 12px;
        font-family: Verdana, sans-serif;
        background: #fff; }

body.section-1 { }
body.section-2 { }
body.section-3 { }

    a {text-decoration:none; font-family: Verdana, sans-serif; font-size:12px; color: #F4B8C5;}
		a:hover, :selection {font-family: Verdana, sans-serif; font-size:12px; color: #F4B8C5; text-decoration: underline;}

a img { border: none; }

#menu {
    width: 245px;
    overflow: auto;
    top: 0;
    bottom: 0;
	left: 1;
    right: 1;
    position: fixed;
    height: 100%;
    background-image: url("https://i.imgur.com/cewuXWI.png");
    background-repeat: repeat;
	background-color: #fff;
}

#menu ul {
	list-style: none;
	margin: 0 0 12px 0;
}

#menu ul li.section-title { }

#content {
    height: 100%;
    margin: 0 0 0 250px;
    top: 0;
}

.container {
    padding: 5px 5px 25px 5px;
}

.containermenu {
    padding: 5px 5px 25px 5px;
}


.updates {color:#808080; }
#content p { width: 600px; margin-bottom: 9px; }

.text {
    word-wrap: break-word;
    width: 600px;
}

p {
    margin: 0 0 9px 0;
}

h1 { font-size: 32px; }
h2 { font-size: 24px; }
h3 { font-size: 16px; }
h4 { font-size: 12px; }

#img-container	{ margin: 0; padding: 0; }
#img-container p	{ width: 600px; margin: 0; padding: 0 0 12px 0; }

#once { clear: left; }


/* #F4B8C5 */