html {
    background-color: #fff;
    font-family: Verdana, Arial, Helvetica, sans-serif !important;
}

hr {
    font-family: Verdana, Arial, Helvetica, sans-serif !important;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #fff;
    margin: 1em 0;
    padding: 0; 
}

h2 {
    font-family: 'Helvetica', 'Arial', sans-serif;
}


mark {
    font-family: 'Helvetica', 'Arial', sans-serif;
    background: #141414;
    color:#ffffff;
    font-family: "input";
    font-size: 8px;
}


#banner-01 {
    width: 85%;
    height: 450px;
    color: #141414;
    background-color: #a1a1a1;
    padding: 25px;
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
    font-family: "input";
    font-size: 8px;
}

#image-01 {
    width: 100%;
    height: 450px;
    color: #ffffff;
    background-color: #a1a1a1;
}

#image-02 {
    width: 100%;
    height: 450px;
    color: #ffffff;
    background-color: #a1a1a1;
}

#image-03 {
    width: 100%;
    height: 450px;
    color: #ffffff;
    background-color: #a1a1a1;
}

#module-01 {
    width: 85%;
    background: #ffffff;
    color: #3d3d3d;
    padding: 25px;
    float: center;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    font-family: Verdana, Arial, Helvetica, sans-serif !important;
    font-size: 10px;
}

#module-02 {
    width: 85%;
    background: #ffffff;
    color: #cccccc;
    padding: 25px;
    float: center;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    font-family: Verdana, Arial, Helvetica, sans-serif !important;
    font-size: 10px;
}

#module-03 {
    width: 85%;
    background: #ffffff;
    color: #cccccc;
    padding: 25px;
    float: center;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 5%;
    font-family: Verdana, Arial, Helvetica, sans-serif !important;
    font-size: 10px;
}

#submodule-01 {
    width: auto;
    background: #efefef;
    color: #000000;
    padding: 10px;
    float: center;
    position: relative;
    margin-right: auto;
    font-family: Verdana, Arial, Helvetica, sans-serif !important;
    font-size: 8px;
}
