/*
*written by meirisoda
*do not copy
*/

::-webkit-scrollbar {width: 6px; background: transparent; margin: 0.5em;}
::-webkit-scrollbar-thumb {width: 6px; border-radius: 10px; background-color: #aaa;}
::selection {background: #3b3b3b; color: #fff;}
::-moz-selection {background: #3b3b3b; color: #fff;}

iframe {display:inline-block; overflow-x:hidden; border: none;}

body {font-family: monospace; letter-spacing: -0.35px;}

a {font-family: monospace; letter-spacing: -0.35px;  font-size:12px; color:#3b3b3b;}
  a:hover {font-family: monospace; letter-spacing: -0.35px;  font-size:12px; color:#fff; background-color:#3b3b3b;}
  a:selection {font-family: monospace; letter-spacing: -0.35px;  font-size:12px; color:#3b3b3b;}
  a img:hover {background-color: none;}

b {font-family: monospace; letter-spacing: -0.35px;  font-size:12px; color: #3b3b3b;}
pre {font-family: monospace; letter-spacing: -0.35px;  font-size:12px; color:#000;}
mark {color: #3b3b3b;}

/* when formatting doesn't work */
.f {font-family: monospace; letter-spacing: -0.35px;  font-size:12px; color: #3b3b3b;}
.f {font-family: monospace; letter-spacing: -0.35px;  font-size:12px;}

/* general */
.inline {display: inline-block;}

/* in blog */
.blog {
  padding: 20px;
  display: block;
  width: 600px;
  max-height:500px;
  padding-right: 7px;
  text-align: left;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: monospace; letter-spacing: -0.35px;
  font-size: 12px;
}
.date {font-size: 10px; color:#3b3b3b;}

.text {font-size: 12px; color:#3b3b3b;}


/* rights */
.rights {
  color: #aaa;
  font-size: 8px;
}

.caption {
  font-size:15.4px;
}
.captioning {
  font-size:15.4px;
}

#gallery {
   line-height:0;
   -webkit-column-count:4; /* split it into 5 columns */
   -webkit-column-gap:3px; /* give it a 5px gap between columns */
   -moz-column-count:4;
   -moz-column-gap:3px;
   column-count:4;
   column-gap:3px;
}

#gallery img {
   height: auto !important;
   margin-bottom:5px; /* to match column gap */
}


.notes {
  background: #EEEEEE;
  width: max-content;
  border-radius: 8px;
  margin: 1.5vh 0.5vw;
  padding: 3px;
  box-shadow: 0 0 10px #EEEEEE, 0 0 10px #EEEEEE, 0 0 10px #EEEEEE, 0 0 10px #EEEEEE, 0 0 10px #EEEEEE, 0 0 10px #EEEEEE, 0 0 10px #EEEEEE;
}

h2 {
  font-size: 30pt;
  text-align: left;
  color: #3b3b3b;
  text-decoration: none;
}

h2:hover {
  font-size: 30pt;
  text-align: left;
  color: #fff;
  background-color:#3b3b3b;
  text-decoration:none;
}


.page {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100vw;
  overflow-y: auto;
  z-index: 0;
  background-color: hsl(0,0%,100%);
}


#rectangle{
    width:300px;
    height:20px;
    background:none;
}
#rectangle1{
    width:308px;
    height:20px;
    background:none;
}

/* Dropdown Button */
.dropbtn {
  background-color: #fff;
  color: #3b3b3b;
  padding:0;
  line-height:1;
  position:left;
  text-align: left;
  font-size: 12px;
  font-family: monospace;
  border: none;
  padding: none;
}

.dropbtn:hover {
  background-color: #3b3b3b;
  color: #fff
  padding:0;
  line-height:1;
  position:left;
  text-align: left;
  font-size: 12px;
  font-family: monospace;
  border: none;
  padding: none;
}

button::-moz-focus-inner { margin:0; padding:0}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  text-align: right;
  padding-right: 5px;
  padding-left: 5px;
  right: -20px;
  background-color: #fff;
  font-family: palatino, sans-serif;
  min-width: 60px;
  z-index: 1;
  cursor: pointer;
  border: 1;
  border-color: #232323;
}

.dropdown-content-1 {
  display: none;
  position: absolute;
  text-align: right;
  padding-right: 5px;
  padding-left: 5px;
  right: -55px;
  background-color: #fff;
  font-family: palatino, sans-serif;
  min-width: 60px;
  z-index: 1;
  cursor: pointer;
  border: 1;
  border-color: #232323;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #3b3b3b;
  padding: 0;
  text-decoration: none;
  display: block;
}

.dropdown-content-1 a {
  color: #3b3b3b;
  padding: 0;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #3b3b3b;}
.dropdown-content-1 a:hover {background-color: #3b3b3b;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropdown-content-1 {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {color:#fff; background-color: #3b3b3b;}

/*show the submenu when input is checked*/
input:checked~ul.submenu {
  display: block;
}

/*hide the inputs/checkmarks and submenu*/
input, ul.submenu {
  display: none;
}

html { text-size-adjust: 100%; }

/*specifications for mobile phones in vertical view*/
@media screen and (max-width: 1000px) and (orientation: portrait){
#everything { position: absolute;
	zoom: 160%;
	left:650px; top:-60px; /* change these values for positioning your site properly on the screen */
	transform: rotate(90deg); /*  horizontally oriented*/
}}


/*specifications for mobile phones in horizontal view*/
@media screen and (max-width: 1000px) and (orientation: landscape){
#everything { position: absolute;
	zoom: 95%; /* this viewport makes your site bigger, so let's remove zoom ◝꒰ ´ ˘ ` */
	left:-105px; top:-35px;
}}


/*specifications for ipad screens*/
@media screen and (min-width: 2000px) and (orientation: landscape){
#everything { position: absolute;
zoom: 100%; /* this viewport usually doesn't require zoom ◝꒰ ´ ˘ ` */
}}


/*specifications for 1920 x 1080 monitors*/
@media screen and (min-width: 1700px) and (orientation: landscape){
#everything { position: absolute;
	zoom: 130%; /* this viewport makes your site smaller, so let's apply zoom ◝꒰ ´ ˘ ` */
	left:60px; top:40px;
}}


/*specifications for 3840 x 2160 monitors ( 4k )*/
@media screen and (min-width: 3000px) and (orientation: landscape){
#everything { position: absolute;
	zoom: 260%; /* this viewport makes your site way smaller, so let's apply zoom ◝꒰ ´ ˘ ` */
	left:100px; top:40px;
}}
