/* #232323 */

@charset "UTF-8";
@font-face {
  font-family: "Louise";
  src: url("Louise-Regular.woff2") format("woff2"), url("Louise-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

::-webkit-scrollbar {
    width: 6px;
    background: transparent;
    margin: 0.5em;
}
::-webkit-scrollbar-thumb {
    width: 6px;
    border-radius: 10px;
    background-color: #b3b3b3;
}

iframe {
  display:inline-block;
  overflow-x:hidden;
  border: none;
}


a {font-family: palatino, serif; font-size:12px; color:#232323;
}

a:hover {font-family: palatino, serif; font-size:12px; color:#fff; background-color:#232323;}
a:selection {font-family: palatino, serif; font-size:12px; color:#232323;}


b {font-family: palatino, serif; font-size:12px;}

pre {font-family: palatino, serif; font-size:12px; color:#000;}

.f {font-family: palatino, serif; font-size:12px;}

.notes {
  background: #EEEEEE;
  width: max-content;
  border-radius: 8px;
  margin: 1.5vh 0.5vw;
  padding: 3px;
  box-shadow: 0 0 10px #EEEEEE, 0 0 10px #EEEEEE, 0 0 10px #EEEEEE, 0 0 10px #EEEEEE, 0 0 10px #EEEEEE, 0 0 10px #EEEEEE, 0 0 10px #EEEEEE;
}

h2 {
  font-size: 30pt;
  text-align: left;
  color: #232323;
  text-decoration: none;
}
h2:hover {
  font-size: 30pt;
  text-align: left;
  color: #fff;
  background-color:#232323;
  text-decoration:none;
}


.page {
  top: 0;
  overflow-y: auto;
  z-index: 0;
  background-color: hsl(0,0%,100%);
}

#rectangle{
    width:300px;
    height:20px;
    background:none;
}
#rectangle1{
    width:320px;
    height:20px;
    background:none;
}

@keyframes rainbow {
  100%, 0% {
    color: #f091b9;
  }
  12.5% {
    color: #e67d7d;
  }
  25% {
    color: #e5c87c;
  }
  37.5% {
    color: #a0d48e;
  }
  50% {
    color: #89c9c7;
  }
  75% {
    color: #78a7db;
  }
  87.5% {
    color: #aa8fe2;
  }
}
@keyframes rainbow-border {
  100%, 0% {
    border: 1px solid #f091b9;
    color: #f091b9;
  }
  12.5% {
    border: 1px solid #e67d7d;
    color: #e67d7d;
  }
  25% {
    border: 1px solid #e5c87c;
    color: #e5c87c;
  }
  37.5% {
    border: 1px solid #a0d48e;
    color: #a0d48e;
  }
  50% {
    border: 1px solid #89c9c7;
    color: #89c9c7;
  }
  75% {
    border: 1px solid #78a7db;
    color: #78a7db;
  }
  87.5% {
    border: 1px solid #aa8fe2;
    color: #aa8fe2;
  }
}


.gallery {
	display: flex;
  align: left;
